.button-hamburger {
    width: 100%;
    background: #f5f7f9;
    height: 50px;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    padding: 11px 0 0 17px;
    color: #999;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.cross {
    background: none;
    position: absolute;
    top: 0;
    padding: 9px 0 0 17px;
    color: #999;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.hamburger-nav {
    z-index: 1000000;
    width: 100%;
    background: #f5f7f9;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.hamburger-nav ul {
    border: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.hamburger-nav li {
    display: block;
    border-bottom: #e0e0e0 1px solid;
}

.hamburger-nav li:last-child {
    border-bottom: none;
}

.hamburger-nav li:hover {
    background: #d5e5f1;
}

.hamburger-nav ul li a {
    display: block;
    padding: 15px 0 15px 0;
    color: #777;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.hamburger-nav ul ul {
    background: #fff;
    display: none;
    top: 100%;
    z-index: 99999;
}

.hamburger-nav ul li:hover > ul {
    display:inherit;
}

.hamburger-nav ul ul li {
    float: none;
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
}

.hamburger-nav ul ul li a:hover {
    background: #ccc;
    color: white;
}
