@import url('https://fonts.googleapis.com/css?family=Bitter:300,400,400i,500,700');

html {
    height: 100%;
}

body {
    font-family: 'Bitter', serif;
    min-width: 340px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 1015px) {
    .container {
        max-width: 1015px;
    }
}

a {
    text-decoration: none;
}

header .header__topper {
    background: #f6f7fb;
    border-top: 3px solid #59b7c2;
    position: relative;
    overflow: hidden;
}

header .header__topper::before {
    content: '';
    position: absolute;
    border-top: 3px solid #59b7c2;
    width: 100%;
    top: 0;
    opacity: .7;
    z-index: 1;
}

header .header__topper::after {
    content: '';
    position: absolute;
    border-top: 3px solid #59b7c2;
    width: 100%;
    top: 3px;
    opacity: .5;
}

.header__phone {
    padding-top: 16px;
}

.header__phone i {
    display: inline-block;
    font-size: 12px;
    color: #444;
    padding-right: 8px;
}

.header__phone span {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    color: #444;
    letter-spacing: .6px;
}

.header__text {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #777;
}

.header__text a {
    color: #59b7c2;
}

.header__text a:hover {
    text-decoration: underline;
}

.header__lang,
.header__currency {
    display: inline-block;
    font-size: 0;
}

.header__lang {
    margin-right: 19px;
}

.header__currency a,
.header__lang a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #6f7071;
    background: #e6e9ed;
    padding: 20px 10px 10px 10px;
    margin-right: 1px;
}

.header__currency a:last-child {
    margin-right: 0;
}

.header__lang .active,
.header__currency .active {
    background: rgba(120, 196, 205, 1);
    color: white;
}

.header__currency a:not(:hover) {
    transition: .3s;
}

.header__currency a:hover {
    background: #d5e5f1;
    transition: .3s;
}

.header__lang a:not(:hover) {
    transition: .3s;
}

.header__lang a:hover {
    background: #d5e5f1;
    transition: .3s;
}

.header__basket {
    padding: 38px 0 57px 0;
    border-bottom: 1px solid #e0e0e0;
}

.header__logo p {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #b5b5b5;
    padding-left: 15px;
    letter-spacing: .7px;
}

.header__search {
    position: relative;
    margin-top: 14px;
}

input, button {
    border: none;
    outline: none;
}

.header__search input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    color: #9b9b9b;
    font-size: 12px;
    background: inherit;
    border: 1px solid #ccc;
    padding: 2px 30px 0 8px;
}

.header__search input::placeholder {
    color: #9b9b9b;
}

.header__search input:focus {
    border: 1px solid #59b7c2;
    color: #444;
}

.header__search > button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 3px;
    background: inherit;
}

.header__search button i {
    color: #444;
}

.header__nav {
    display: inline-block;
    padding-top: 14px;
}

.header__nav a {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    color: #777;
    padding: 14px 13px 11px 13px;
    letter-spacing: .6px;
    position: relative;
    overflow: hidden;
}

.header__nav a::after {
    content: '';
    position: absolute;
    border-right: 1px solid #e0e0e0;
    top: 9px;
    width: 0;
    height: 50%;
    right: 0;
}

.header__nav a:last-child::after {
    border-right: none;
}

.header__nav a:not(:hover) {
    transition: .3s;
}

.header__nav a:hover {
    background: rgba(120, 196, 205, 1);
    transition: .3s;
}

.header__nav a:hover::after {
    border-right: none;
}

.header__cart {
    display: inline-block;
    background: #f1f3f5;
    padding-top: 8px;
    margin-top: 14px;
    height: 35px;
    text-align: center;
    min-width: 100px;
}

.header__cart p,
.header__cart span {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    color: #444;
    letter-spacing: .6px;
    vertical-align: middle;
}

.header__cart i {
    margin-right: 5px;
    font-size: 16px;
    color: #444;
}

.header__cart:not(:hover) {
    transition: .3s;
}

.header__cart:hover {
    background: rgba(120, 196, 205, 1);
    transition: .3s;
}

.header__cart:hover + .cart__list {
    display: block;
}

.cart__list:hover {
    display: block;
}

.cart__list {
    display: none;
    position: absolute;
    width: 310px;
    padding: 20px;
    background: #fff;
    top: 49px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 3px;
    z-index: 2;
    cursor: auto;
}

.cart__list > p {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    padding-bottom: 20px;
}

.cart__bloc {
    padding-bottom: 20px;
}

.cart__list .cart__bloc .cart__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.cart__bloc .cart__item:first-child {
    padding-top: 0;
}

.cart__bloc .cart__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.cart__item img {
    border: 1px solid #e0e0e0;
}

.cart__item .cart__product {
    width: 160px;
}

.cart__item .cart__product a {
    display: block;
    font-size: 10px;
    color: #777;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart__item .cart__product a:hover {
    color: #59b7c2;
    text-decoration: underline;
}

.cart__item .cart__product p {
    padding-top: 5px;
}

.cart__item .cart__product p b {
    font-size: 12px;
    color: #444;
}

.cart__item .cart__product p b:first-child {
    font-weight: 700;
}

.cart__item a i {
    font-size: 14px;
    color: #444;
    cursor: pointer;
}

.cart__button button {
    font-size: 10px;
    font-weight: 400;
    color: white;
    padding: 13px 10px;
    letter-spacing: .6px;
    border-radius: 3px;
    background: #444;
}

.cart__button button:last-child {
    margin-left: 5px;
}

.cart__button button:not(:hover) {
    transition: .3s linear;
}

.cart__button button:hover {
    background: #59b7c2;
    box-shadow: 127px 0 0 0 rgba(0, 0, 0, .3) inset;
    transition: .3s linear;
}

header .header__menu {
    background: #f5f7f9;
    margin-bottom: 20px;
}

.header__menu ul {
    list-style: none;
    position: relative;
}

.header__menu ul li {
    display: inline-block;
}

.header__menu .active {
    background: rgba(120, 196, 205, 1);
    color: white;
}

.header__menu a {
    display: block;
    padding: 18px;
    color: #444;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header__menu a:not(hover) {
    transition: .3s;
}

.header__menu a:hover {
    background: #d5e5f1;
    transition: .3s;
}

.header__menu ul ul {
    background: #fff;
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid #e0e0e0;
    z-index: 99999;
}

.header__menu ul li:hover > ul {
    display: inherit;
}

.header__menu ul ul li {
    width: 215px;
    float: none;
    display: list-item;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.header__menu ul ul a {
    text-transform: none;
    color: #777;
    letter-spacing: normal;
    padding: 15px 18px;
}

.header__menu ul ul li:last-child {
    border-bottom: none;
}

.header__menu ul ul a:hover {
    background: #f5f7f9;
    transition: .3s;
}

.menu-hamburger {
    display: none;
    margin-bottom: 20px;
}

#lightSlider .header__slider {
    width: 100%;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.lSAction > a {
    opacity: .8;
    width: 43px;
    height: 43px;
}

.lSSlideOuter {
    width: 100%;
    height: inherit;
}

.lSAction > .lSPrev {
    background-position: -5px -5px;
    left: 0;
}

.lSAction > .lSPrev:hover {
    background-position: 48px -5px;
}

.lSAction > .lSNext {
    background-position: 204px -57px;
    right: 0;
}

.lSAction > .lSNext:hover {
    background-position: 256px -57px;
}

.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    bottom: 17px;
    right: 30px;
}

.lSSlideOuter .lSPager.lSpg > li {
    padding: 0 4px;
}

.lSSlideOuter .lSPager.lSpg > li a {
    height: 20px;
    width: 20px;
    background-color: #3f494d;
    opacity: .9;
    border-radius: 100%;
    border: 5px solid #cdd5d0;
}

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: #ebf2f4;
    border: 5px solid #3f494d;
    opacity: .9;
}

#lightSlider .header__slider .slider__title {
    position: absolute;
    right: 14%;
    top: 12%;
}

#lightSlider .header__slider .slider__title h1 {
    display: inline;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #222;
    background: rgba(232, 245, 248, .9);
    line-height: 70px;
    padding: 0 10px;
}

#lightSlider .header__slider .slider__title span {
    font-size: 16px;
    font-weight: 400;
    color: #222;
    background: rgba(232, 245, 248, .9);
    line-height: 32px;
    padding: 5px 10px;
}

.main__banner {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 12px 0 0 15px;
    margin-top: 24px;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.main__banner:not(hover) {
    transition: .3s;
}

.main__banner:hover {
    transition: .3s;
    border: 1px solid #59b7c2;
}

.main__banner img,
.main__banner .banner__text {
    display: inline-block;
}

.main__banner .banner__text {
    vertical-align: top;
    padding: 10px 0 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__banner .banner__text b {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 32px;
    color: #444;
}

.main__banner .banner__text p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 30px;
    color: #777;
}

main .main__product {
    width: 228px;
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    position: relative;
    margin: 0 auto;
}

main .main__product:hover {
    border: 1px solid #59b7c2;
}

.corner-ribbon {
    width: 80px;
    background: #d35462;
    position: absolute;
    text-align: center;
    line-height: 14px;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.corner-ribbon.top-left {
    top: 14px;
    left: -18px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.main__product .product__img {
    padding: 8px 8px 0 8px;
}

.main__product .product__title {
    height: 56px;
    padding: 10px 8px 10px 8px;
}

.main__product .product__title a {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #777;
}

.main__product .product__title a:hover {
    color: #59b7c2;
    text-decoration: underline;
}

.main__product .product__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 43px;
    border-top: 1px solid #e0e0e0;
}

.main__product .product__price .bloc-prise {
    padding-left: 8px;
    width: 100%;
}

.main__product .product__price .bloc-prise span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #59b7c2;
    white-space: nowrap;
}

.main__product .product__price .bloc-prise .crossed-out {
    font-size: 10px;
    color: #777;
    text-decoration: line-through;
}

.main__product .product__price .bloc-compare,
.main__product .product__price .bloc-like,
.main__product .product__price .bloc-basket {
    width: 45%;
    height: inherit;
    text-align: center;
    position: relative;
    padding-top: 15px;
    border-left: 1px solid #e0e0e0;
}

.main__product .product__price .bloc-compare > i {
    font-size: 14px;
    color: #777;
}

.main__product .product__price .bloc-like > i {
    font-size: 14px;
    color: #db6471;
}

.main__product .product__price .bloc-basket > i {
    font-size: 14px;
    color: #59b7c2;
}

.main__product .product__price .bloc-compare .compare-plus {
    display: none;
    position: absolute;
    top: 23px;
    right: 9px;
    font-size: 10px;
    color: #777;
    background: white;
    border-radius: 30px;
    padding: 1px;
}

.main__product .product__price .bloc-like .like-plus {
    display: none;
    position: absolute;
    top: 23px;
    right: 9px;
    font-size: 10px;
    color: #db6471;
    background: white;
    border-radius: 30px;
    padding: 1px;
}

.main__product .product__price .bloc-basket .basket-plus {
    display: none;
    position: absolute;
    top: 23px;
    right: 9px;
    font-size: 10px;
    color: #59b7c2;
    background: white;
    border-radius: 30px;
    padding: 1px;
}

.main__product .product__price .bloc-compare:hover {
    background: #f5f7f9;
}

.main__product .product__price .bloc-like:hover {
    background: #f5f7f9;
}

.main__product .product__price .bloc-basket:hover {
    background: #f5f7f9;
}

.main__product .product__price .bloc-compare:hover .compare-plus {
    display: block;
}

.main__product .product__price .bloc-like:hover .like-plus {
    display: block;
}

.main__product .product__price .bloc-basket:hover .basket-plus {
    display: block;
}

main .section__slider {
    padding-top: 60px;
    position: relative;
}

main .section__slider h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: .5px;
    color: #444;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 42px;
}

main .section__slider .lSSlideWrapper, .lSSlideWrapper .lSFade {
    position: inherit;
}

main .section__slider .lSAction > .lSPrev {
    opacity: .3;
    background-position: 48px -5px;
    position: absolute;
    top: 17%;
    left: 90%;
}

main .section__slider .lSAction > .lSNext {
    opacity: .3;
    background-position: 256px -57px;
    position: absolute;
    top: 17%;
    right: 0;
}

main .section__slider .lSAction > .lSPrev:hover {
    opacity: .7;
}

main .section__slider .lSAction > .lSNext:hover {
    opacity: .7;
}

main .article__text,
main .section__news {
    min-width: 297px;
    background: #f5f7f9;
    padding: 20px;
    margin: 70px 0;
    overflow: hidden;
}

.article__text h3,
.section__news h3,
.article__mail h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    letter-spacing: .5px;
    padding-bottom: 20px;
}

.article__text p {
    font-size: 10px;
    font-weight: 400;
    color: #99999a;
    line-height: 17px;
}

.section__news .news__title {
    padding-bottom: 10px;
}

.section__news .news__title:last-child {
    padding-bottom: 0;
}

.section__news .news__title span {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #99999a;
    line-height: 16px;
}

.section__news .news__title a {
    font-size: 10px;
    font-weight: 400;
    color: #59b7c2;
    line-height: 17px;
}

.section__news .news__title a:hover {
    text-decoration: underline;
}

main .article__mail {
    min-width: 297px;
    background: #f5f7f9;
    padding: 20px 20px 40px 20px;
    margin: 70px 0;
    overflow: hidden;
}

.article__mail p {
    font-size: 10px;
    font-weight: 400;
    color: #99999a;
    line-height: 17px;
    padding-bottom: 25px;
}

.mail__search input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    color: #9b9b9b;
    padding: 2px 30px 0 8px;
    font-size: 12px;
    background: inherit;
    border: 1px solid #ccc;
}

.mail__search input::placeholder {
    color: #9b9b9b;
}

.mail__search input:focus {
    border: 1px solid #59b7c2;
    color: #444;
}

.mail__search > button {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 3px;
    background: inherit;
}

.mail__search {
    position: relative;
    background: #fff;
}

.mail__search button i {
    font-size: 16px;
    color: #444;
}

.article__mail-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}

.article__mail-icon i {
    font-size: 40px;
    color: #59b7c2;
}

.article__mail-icon p {
    width: calc(100% - 55px);
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #99999a;
    line-height: 17px;
    padding: 0;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100%;
    padding-top: 57px;
    border-top: 1px solid #e0e0e0;
    background: #fcfdfd;
}

.footer__nav {
    padding-bottom: 50px;
}

.footer__nav h4 {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    letter-spacing: .5px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e0e0e0;
}

.footer__nav .footer__paragraph {
    padding-top: 20px;
}

.footer__nav .footer__paragraph.indent-a a i {
    display: inline-block;
    font-size: 14px;
    color: #444;
    padding-right: 8px;
}

.footer__nav .indent-a a {
    padding-bottom: 6px;
}

.footer__nav .indent-a a:last-child {
    padding: 0;
}


.footer__nav .footer__paragraph a {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #808080;
    line-height: 24px;
}

.footer__nav .footer__paragraph a:hover {
    color: #59b7c2;
    text-decoration: underline;
}

.footer__topper {
    background: #f9fbfc;
    padding: 30px 0 20px 0;
    border-top: 1px solid #e0e0e0;
}

.footer__topper p {
    font-size: 10px;
    font-weight: 400;
    color: #ababab;
}

.footer__social a {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    border-radius: 9px;
    background: #444;
    margin-left: 2px;
}

.footer__social a:first-child {
    margin: 0;
}

.footer__social a:hover {
    background: #59b7c2;
}

.footer__social a i {
    font-size: 12px;
    color: white;
}

@media screen and (max-width: 1014px) {
    .header__lang {
        margin-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .cart__list {
        right: 14px;
    }

    .header__text {
        padding-top: 13px;
    }

    #lightSlider .header__slider {
        height: 380px;
    }

    main .section__slider .lSAction > .lSPrev {
        left: 86%;
    }

    main .article__text,
    main .section__news {
        margin-bottom: 0;
    }

    .footer__nav {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__text {
        padding: 15px 0 15px 0;
    }

    .header__lang {
        margin-right: 19px;
    }

    .header__menu ul ul {
        top: 50%;
        right: 0;
    }

    .header__menu {
        display: none;
    }

    .menu-hamburger {
        display: block;
    }

    #lightSlider .header__slider {
        height: 300px;
    }

    #lightSlider .header__slider .slider__title {
        right: 0;
    }

    #lightSlider .header__slider .slider__title h1 {
        font-size: 20px;
        line-height: 40px;
    }

    #lightSlider .header__slider .slider__title span {
        font-size: 14px;
        line-height: 24px;
        padding: 2px 10px;
    }

    main .section__slider .lSAction > .lSPrev {
        left: 81%;
    }
}

@media screen and (max-width: 494px) {
    .header__phone i {
        padding-right: 0;
    }

    .header__currency a,
    .header__lang a {
        padding: 20px 5px 10px 5px;
    }

    .header__lang {
        margin-right: 0;
    }

    .header__basket {
        padding-bottom: 38px;
    }

    #lightSlider .header__slider {
        height: 220px;
    }

    main .section__slider .lSAction > .lSPrev {
        left: 77%;
    }

    main .article__text,
    main .section__news,
    main .article__mail {
        margin-top: 45px;
    }

    main .article__mail {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 402px) {
    .header__menu ul ul {
        top: 100%;
        left: 0;
        right: auto;
    }

    main .section__slider .lSAction > .lSPrev {
        left: 73%;
    }
}

@media screen and (max-width: 360px) {
    main .section__slider .lSAction > .lSPrev {
        left: 72%;
    }
}

.basket__product {
    background: #fcfdfd;
    max-width: 94%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.basket__product table {
    width: 100%;
}

.basket__product table caption {
    font-size: 18px;
    font-weight: 400;
    color: #59b7c2;
    letter-spacing: .5px;
    line-height: 50px;
    text-transform: uppercase;
}

.basket__product table td {
    padding-top: 10px;
}

.basket__product table tr:first-child {
    background: #f5f7f9;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.basket__product table tr th {
    font-size: 12px;
    font-weight: 400;
    color: #444;
    letter-spacing: .5px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.basket__product table tr td {
    vertical-align: middle;
    text-align: center;
}

.basket__product table tr td.sum {
    min-width: 60px;
}

.basket__product table tr td .table__border-img img {
    border: 1px solid #e0e0e0;
}

.basket__product table .table__title-product {
    text-align: start;
    padding-left: 5px;
}

.basket__product table tr .title-product {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basket__product table tr .title-product:hover {
    color: #59b7c2;
    text-decoration: underline;
}

.basket__product table tr td input {
    font-size: 14px;
    font-weight: 400;
    width: 20px;
    color: #444;
    background: inherit;
    text-align: center;
}

.basket__product table tr td button {
    background: #59b7c2;
    color: #fff;
    cursor: pointer;
}

.basket__product table tr td span {
    font-size: 14px;
    font-weight: 600;
    color: #777;
}

.basket__product table tr td i {
    color: #59b7c2;
}

.section__prise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
}

.section__prise p {
    padding-right: 5px;
}

.section__prise p,
.section__prise span {
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

.basket__product .cart__button {
    display: flex;
    justify-content: flex-end;
}

.basket__product .cart__button button {
    margin: 0;
}

/*@media screen and (max-width: 767px) {*/
/*    .basket__product table .table__title-product {*/
/*        max-width: 90px;*/
/*    }*/

/*    .basket__product table tr td {*/
/*        min-width: 70px;*/
/*    }*/
/*}*/